:root {
    --color-primary: #171717;
    --color-secondary: #ececee;
    --color-background: #75a0f1;
    --color-headings: #3e3e3e;
    --color-body: #ffff;
    --color-heading: #e4e4e4;
    --color-links: #3e3e3e;
    
}
  

