.page-header-title {
  border: 1px solid var(--color-primary);
  border-radius: 0.8rem;
  color: var(--color-primary);
  font-weight: 100;
  margin-bottom: 10rem;
  padding: 1rem;
  width: 20%;
}

/* .partner-info {
  display: flex;
  justify-content: space-between;
  margin: 0 60rem 0 60rem;
} */

.partner-info {
    margin: 0 10rem 0 10rem;
  }

.partner-name {
    font-size: 4rem;
    font-weight: 100;
}