.career-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 1rem 0 2rem 0;
    color: var(--color-background);
    text-align: center;
}

.career-details-link {
    color: var(--color-background);
    text-decoration: solid underline;
}