.service-header-title {
    border: 1px solid var(--color-primary);
    border-radius: 0.8rem;
    color: var(--color-primary);
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 10rem;
    padding: 1rem;
    width: 30%;
}

.service-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 10rem 0 2rem 0;
    color: var(--color-background);
}

@media screen and (min-width: 50px) and (max-width: 388px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 2.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 80%;
    }

    .service-img {
        height: 200px;
        width: 350px;
        margin-left: 1rem;
    }

    .service-title {
        font-size: 3rem;
        font-weight: 900;
        margin: 1rem 0 2rem 0;
        color: var(--color-background);
    }

    .paragraph-vertical-card {
        font-size: 2rem;
        line-height: 1.5;
        margin: 0 auto 2rem auto;
      }


}

@media screen and (min-width: 390px) and (max-width: 700px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 2.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 100%;
    }

    .service-img {
        height: 600px;
        width: 850px;
        margin-left: 1rem;
    }

    .service-title {
        font-size: 3rem;
        font-weight: 900;
        margin: 1rem 0 2rem 0;
        color: var(--color-background);
    }

    .paragraph-vertical-card {
        font-size: 2rem;
        line-height: 1.5;
        margin: 0 auto 2rem auto;
      }
}

@media screen and (min-width: 701px) and (max-width: 799px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 3.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 70%;
    }

    .service-img {
        height: 600px;
        width: 850px;
        margin-left: 1rem;
    }


    .service-title {
        font-size: 3rem;
        font-weight: 900;
        margin: 1rem 0 2rem 0;
        color: var(--color-background);
    }

    .paragraph-vertical-card {
        font-size: 2rem;
        line-height: 1.5;
        margin: 0 auto 2rem auto;
      }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 3.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 70%;
    }

    .service-img {
        height: 600px;
        width: 850px;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1699px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 4.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 40%;
    }

    .service-img {
        height: 250px;
        width: 450px;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2999px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 4.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 40%;
    }

    .service-img {
        height: 300px;
        width: 450px;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2400px) {

    .service-header-title {
        border: 1px solid var(--color-primary);
        border-radius: 0.8rem;
        color: var(--color-primary);
        font-weight: 100;
        font-size: 4.2rem;
        margin-bottom: 10rem;
        padding: 1rem;
        width: 40%;
    }
}