.large-button {
    background-color: var(--color-background);
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    padding: 20px 20px;
    text-transform: uppercase;
}

.large-button a {
    color: white;
    text-decoration: none;
}

.large-button:hover {
    background-color: var(--color-background-dark);
    cursor: pointer;
    transition: .5s;
}

.small-button {
    background-color: var(--color-background);
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
}

.small-button:hover {
    background-color: var(--color-background-dark);
    cursor: pointer;
    transition: .5s;
}

#myBtn {
    display: none;
    position: fixed;
    right: 30px; 
    background-color: var(--color-background);
    bottom: 20px; 
    border: none; 
    border-radius: 6px; 
    color: white; 
    cursor: pointer;
    font-size: 18px; 
    outline: none;
    padding: 15px; 
    z-index: 99; 
  }
  
  #myBtn:hover {
    background-color: var(--color-background-dark); 
  }

  @media screen and (min-width: 50px) and (max-width: 388px) {
 
    .large-button {
        background-color: var(--color-background);
        border: none;
        border-radius: 80px;
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        padding: 10px 20px;
        text-transform: uppercase;
    }
 }

  @media screen and (min-width: 390px) and (max-width: 700px) {}
  
  @media screen and (min-width: 701px) and (max-width: 799px) {}
  
  @media screen and (min-width: 800px) and (max-width: 1199px) {}
  
  @media screen and (min-width: 1200px) and (max-width: 1699px) {}
  
  @media screen and (min-width: 1700px) and (max-width: 2400px) {}
  
  @media screen and (min-width: 1700px) and (max-width: 2400px) {}