  /*=================GRID===================*/
  .grid {
    display: grid;
    width: 80%;
  }
  
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);  
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);  
  }


  /* @media screen and (min-width: 700px) {
    .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .grid--1x4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (min-width: 1824px) {
    .grid--1x5 {
      grid-template-columns: repeat(5, 1fr);
    }
  } */
