.large-hero {
  color: red;
}

.main-header {
 text-align: center; 
 font-weight: 900;
 margin-top: 100px;
}

.img-responsive img {
  width: 1200px;
  height: 635px; 
}

@media (min-width: 50px) and (max-width: 390px) {
  .img-responsive img {
      width: 1200px;
      height: 635px; 
  }


}

