/*=================NAV===================*/

  .nav {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    justify-content: space-between;
    margin: -3rem 0 -3rem -3rem;
    padding-top: 3rem;
    padding-right: 0;
    width: 100%;
    z-index: 1;
  }
  
  .logo {
    width: 240px;
    height: 70px;
    padding: 10px 0 0 20px;
    margin-left: 5px;
    margin-right: -20px;
    margin-top: 30px;
  }
  
  .slogan {
    font-size: 1.6rem;
    margin-top: 1rem;
    position: relative;
    left: 1px;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .menu--span {
    justify-content: right;
    margin-left: -22rem;
  }
  
  .menu--item {
    flex-wrap: wrap;
    position: relative;
    right: -1.5rem;
    margin-top: 35px;
    margin-left: 10rem;
    padding-right: 0.5rem;
    height: 40px;
    width: 40px;
  }
  
  .nav__list {
    margin: 0;
  }
  
  .nav__item {
    padding: 1.8rem 10.5rem;
  }


  
  .nav__item > a {
    color: var(--color-primary);
    font-size: 2rem;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .nav__item > a:hover {
    border-bottom: 1px solid #000;
    transition: 1s;
  }
  
  @media screen and (min-width: 500px) {
    .nav {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      justify-content: space-between;
      margin: -3rem;
      padding: 6rem 4rem 1rem;
      width: 100%;
    }
  
    .logo {
      height: 99px;
      padding: 0.5rem 0 0 0;
      margin-left: 10rem;
      margin-right: 5rem;
      width: 350px;
    }
  
    .slogan {
      font-size: 1.5rem;
      left: 154px;
      margin-top: 1rem;
      position: relative;
    }
  
    .logo:hover {
      cursor: pointer;
    }
  
    .menu--span {
      justify-content: right;
      margin-left: -2rem;
    }
  
    .menu--item {
      flex-wrap: wrap;
      padding-right: 2rem;
      height: 40px;
      margin-right: 5rem;
      margin-left: -10rem;
      margin-top: 3rem;
      width: 60px;
    }
  
    .nav__item {
      padding: 1.8rem 0.5rem;
      margin-right: -15rem;
    }
  
    .nav__list {
      margin-left: 20rem;
    }
  
    div > ul .nav__item {
      position: relative;
      right: 90px;
    }
  }
  
  .nav__list > li > a:hover {
    border-bottom: 1px solid var(--color-background);
    transition: 100ms;
    text-decoration: none;
  }
  

  
  @media screen and (min-width: 1024px)  {
    .nav {
      display: flex;
      justify-content: space-between;
      margin: -8rem 0 0 0.5rem;
      margin: -3rem;
      padding: 3rem;
      position: relative;
      left: -100px;
      width: 100%;
    }
  
    .logo {
      height: 70px;
      margin-top: 1.5rem;
      margin-right: -150px;
      padding: 0.5rem 0 0 0;
      width: 240px;
    }
  
    .slogan {
      display: flex;
      position: relative;
      left: 145px;
      top: 20px;
    }
  
    .collapsible__content {
      display: flex;
      max-height: 100%;
    }
  
    .menu--item {
      display: none;
    }
  
    .nav__list {
      display: flex;
      font-size: 1.6rem;
      left: 370px;
      margin: 1rem;
      position: relative;
      width: auto;
    }
  
    .nav__list > li > a:hover {
      border-bottom: 2px solid var(--color-background);
      text-decoration: none;
      transition: 1ms;
    }
  
    .nav__item > a {
      color: var(--color-primary);
      font-size: 1.5rem;
      text-decoration: none;
      transition: 0.2s;
    }
  
    .nav__item {
      margin-right: 8rem;
      padding: 1.8rem 0.5rem;
    }
  }
  
  /* @media screen and (min-width: 1024px) {
    .nav {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      justify-content: space-between;
      margin: -3rem;
      padding: 6rem 4rem 1rem;
      width: 100%;
    }
  
    .logo {
      display: flex;
      height: 99px;
      width: 350px;
    }
  
    .slogan {
      display: flex;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  
    .logo:hover {
      cursor: pointer;
    }
  
    .menu--span {
      justify-content: right;
      margin-left: -2rem;
    }
  
    .menu--item {
      flex-wrap: wrap;
      padding-right: 2rem;
      height: 40px;
      margin-right: 5rem;
      margin-left: 1rem;
      margin-top: 3rem;
      width: 60px;
    }
  
    .nav__item {
      padding: 1.8rem 0.5rem;
      margin-right: 2rem;
    }

    .nav__item__services {
      margin-top: -.2rem;
      margin-left: 2rem;
      margin-right: 2.4rem;
    }
  
    .nav__list {
      margin-left: 2rem;
    }
  
    div > ul .nav__item {
      position: relative;
      right: 90px;
    }
  }
  
  .nav__list > li > a:hover {
    border-bottom: 1px solid var(--color-background);
    transition: 100ms;
    text-decoration: none;
  } */

  @media screen and (min-width: 1000px) {
    .nav {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      justify-content: space-between;
      margin: -3rem;
      padding: 6rem 4rem 1rem;
      width: 100%;
    }
  
    .logo {
      display: flex;
      height: 99px;
      width: 350px;
    }
  
    .slogan {
      display: flex;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  
    .logo:hover {
      cursor: pointer;
    }
  
    .menu--span {
      justify-content: right;
      margin-left: -2rem;
    }
  
    .menu--item {
      flex-wrap: wrap;
      padding-right: 2rem;
      height: 40px;
      margin-right: 5rem;
      margin-left: 1rem;
      margin-top: 3rem;
      width: 60px;
    }
  
    .nav__item {
      padding: 1.8rem 0.5rem;
      margin-right: 2rem;
    }

    .nav__item__services {
      margin-top: -.2rem;
      margin-left: 2rem;
      margin-right: 2.4rem;
    }
  
    .nav__list {
      margin-left: 2rem;
    }
  
    div > ul .nav__item {
      position: relative;
      right: 90px;
    }
  }
  
  .nav__list > li > a:hover {
    border-bottom: 1px solid var(--color-background);
    transition: 100ms;
    text-decoration: none;
  }