/*====================HEADER=======================*/


/*=================DROPDOWN MENU===================*/
@media screen and (max-width: 440px) {
    .dropmenu {
      font-size: 2rem;
      margin-top: 0.95rem;
      margin-left: 5.17rem;
      padding-right: 1rem;
      width: 40px;
      height: 40px;
      flex-wrap: wrap;
    }
  
    .dropcontent {
      display: none;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 800px) {
    .dropmenu {
      font-size: 2rem;
      margin-top: 1rem;
      margin-left: 0.17rem;
      padding-right: 1rem;
      width: 40px;
      height: 40px;
      flex-wrap: wrap;
    }
  
    .dropcontent {
      display: none;

    }
  }
  
  @media screen and (min-width: 1024px) {
    .dropmenu {
      position: relative;
      display: inline-block;
      top: 3px;
     }
  
     .dropcontent {
      display: none;

    }
  
    .dropmenu a:hover + .dropcontent, .dropcontent:hover{
      display: block;
      position: absolute;
      min-width: 100px;
      top: 3.8rem;
      right: -10rem;
      background-color: #f5f3f3;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

    }
  
    .dropcontent a {
      display: block;
      color: var(--color-primary);
      font-family: Arial, Helvetica, sans-serif;
      min-height: 10px;
      min-width: 255px;
      padding: 8px 0px 10px 8px;
      margin: 10px -10px 10px -35px;
      text-align: left;
      float: left;
    }
    
  
    .dropcontent a:hover {
      background-color: var(--color-background);
      text-decoration: none;
      color: #fff;
      transition: 0.3s;
    }
  }
  