/*=================FOOTER===================*/


    .footer {
      background-color: #f8f8f8dc;
      /* border-top: 1px solid var(--color-background); */
      justify-items: center;    
      padding: 50px 0 0 0;
      text-align: center;
      width: 101%;
      height: 50vh;
    }
  
    .footer-link-list {
      margin: 0 0 0 80px;
      text-align: left;
      z-index: 10;
    }
    
    .footer-link-color {
      color: #77a3ce;
    }

    .footer-link-list a:hover {
      cursor: pointer;
      color: var(--color-primary);
      transition: .3s ease-in;

    }

    .copyright {
      margin: 100px 0 50px 0;
    }

    .icon {
      border: solid 1px #b7d4f1; 
      border-radius: 100px;
      padding: 20px;
    }

    .icon:hover {
      background: var(--color-background);
      transition: 1s;
    }

    @media screen and (min-width: 50px) and (max-width: 389px) {
      /* a.footer-logo {
      visibility:hidden;
      } */

      .footer {
        background-color: #f8f8f8e3;
        border-top: 1px solid var(--color-background);
        justify-items: center;    
        padding: 50px 0 0 0;
        text-align: center;
        width: 101%;
        height: 150vh;
      }
      
      .footer-link-list {
        margin: 50px 0 0 -40px;
        text-align: center;
      }

      .footer-box-social {
        margin: 50px 0 0 0;
      }

      .footer-box-social .icon {
        padding: 10px;
      }

      .footer-box-contact {
        margin: 80px 0 0 0;
      }
    }
    
    @media screen and (min-width: 700px) and (max-width: 750px) {
      /* a.footer-logo {
        visibility:hidden;
      }  */

      .footer {
        background-color: #f8f8f8e3;
        border-top: 1px solid var(--color-background);
        justify-items: center;    
        padding: 50px 0 0 0;
        text-align: center;
        width: 101%;
        height:280vh;
      }

      .footer-link-list {
        margin: 50px 0 0 -40px;
        text-align: center;
      }

      .footer-box-social {
        margin: 50px 0 0 0;
      }

      .footer-box-social .icon {
        padding: 10px;
      }

      .footer-box-contact {
        margin: 80px 0 0 0;
      }
    }

    @media screen and (min-width: 751px) and (max-width: 820px) {
      /* a.footer-logo {
        visibility:hidden;
      }  */

      .footer {
        background-color: #f8f8f8e3;
        border-top: 1px solid var(--color-background);
        justify-items: center;    
        padding: 50px 0 0 0;
        text-align: center;
        width: 101%;
        height: 100vh;
      }

      .footer-link-list {
        margin: 50px 0 0 -40px;
        text-align: center;
      }

      .footer-box-social {
        margin: 50px 0 0 0;
      }

      .footer-box-social .icon {
        padding: 10px;
      }

      .footer-box-contact {
        margin: 80px 0 0 0;
      }

    }

    @media screen and (min-width: 821px) and (max-width: 1199px) {
      /* a.footer-logo {
        visibility:hidden;
      }  */


      .footer {
        background-color: #f8f8f8e3;
        border-top: 1px solid var(--color-background);
        justify-items: center;    
        padding: 50px 0 0 0;
        text-align: center;
        width: 101%;
        height: 150vh;
      }


      .footer-link-list {
        margin: 50px 0 0 -40px;
        text-align: center;
      }

      .footer-box-social {
        margin: 50px 0 0 0;
      }

      .footer-box-social .icon {
        padding: 10px;
      }

      .footer-box-contact {
        margin: 80px 0 0 0;
      }

    }

    @media screen and (min-width: 1200px) and (max-width: 1699px) {

      .footer {
        background-color: #f8f8f8e3;
        border-top: 1px solid var(--color-background);
        justify-items: center;    
        padding: 50px 0 0 0;
        text-align: center;
        width: 101%;
        height: 60vh;
      }

      .footer-box-social p {
        margin: 0 0 20px 0;
        font-size: 1.5rem;
      }

      p.footer-link-title {
        margin: 0 0 20px 0;
        font-size: 1.5rem;
      }
    }