/*=================FOOTER===================*/


    .footer {
      background-color: #ffff;
      border-top: 1px solid #eaeaea;
      justify-items: center;    
      padding: 50px 0 0 0;
      text-align: center;
      width: 101%;
    }
  
    .footer-link-list {
      margin: 0 0 0 80px;
      text-align: left;
    }
    
    .footer-link-color {
      color: #77a3ce;
    }

    .footer-link-list a:hover {
      cursor: pointer;
      color: var(--color-primary);
      transition: .3s ease-in;

    }

    .copyright {
      margin: 100px 0 50px 0;
    }

    .icon {
      border: solid 1px #b7d4f1; 
      border-radius: 100px;
      padding: 20px;
    }

    .icon:hover {
      background: var(--color-background);
      transition: 1s;
    }