/*=============TYPOGRAPHY======================*/
/*-- 01 TYPOGRAPHY SYSTEM

Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight


- Line heights
Default: 1



-- 02 COLORS
 Primary: 

-Tints:
-Shades:
-Accents:
-Greys: #555


--05 SHADOWS


--06 BORDER-RADIUS


--07 WHITESPACE
*/



h1,
h2,
h3 {
  color: var(--color-headings);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  color: var(--color-primary);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}


@media screen and (min-width: 1024px) {
  h1,
  h2,
  h3 {
    color: var(--color-headings);
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    color: var(--color-primary);
    font-size: 1.7rem;
    margin-bottom: 1.7rem;
  }
}
